<% title "Exchanges" %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Load Issues</th>
  </tr>
  <% for exchange in @exchanges %>
    <tr>
      <td><%= exchange.code %></td>
      <td><%= exchange.name %></td>
      <td><%= exchange.load_issues %></td>
      <td><%= link_to "Show", exchange %></td>
      <td><%= link_to "Edit", edit_exchange_path(exchange) %></td>
      <td><%= link_to "Destroy", exchange, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Exchange", new_exchange_path %></p>
